img{
    margin-top: 20px;
    margin-left:170px;
    height:160px;
    width:160px;
    border-radius: 50%;
}
.div1{
    margin:auto;
    height:487px;
    width:500px;
}
.div2{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.div5{
    margin-top: 5px;
    width: 493px;
    height:29px;
}
.div7{
    background-color: #4CB050;
    color: white;
    margin-top: 20px;
    width: 500px;
    height:33px;
    border: none;
}
.div3{
    margin-left: 5px;
    height: 12px;
}
.div4{
    margin-left: 5px;
    font-size: 15px;
}
.parent_div{
    margin-top: 8px;
    display: flex;
}
.div6{
    display:flex;
    margin-top: 18px;
    height:60px;
    width:500px;
    background-color: #f1f1f1;
}
.div8{
    margin-top:15px;
    border-radius: 5px;
    height:34px;
    width: 80px;
    background-color: #f44336;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border: none;
    margin-left: 2px;
}
.div9{
    margin-top: 20px;
    margin-left: 300px;
}
a{
    color:black;
}