.parent_div{
    display: flex;
}
.div11{
    margin-left:400px;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
}
body{
    background-color: #A22B55;
}
.div1{
    margin-left:100px;
    font-size: 20px;
    color: white;
}
.div2{
    margin-left:120px;
}
.div4{
    margin-left:92px;
}
.div5{
    margin-left:48px;
}
.div3{
    margin-top: 30px;
}
.div6{
    margin-left:103px;
 }
.div7{
    margin-left:90px;
}
.div8{
    margin-left:100px;
}
select{
    height:35px;
    width: 200px;
}
.div9{
    height:25px;
    width: 300px;
}
.div10{
    margin-left: 350px;
    background-color: #75203F;
    width: 850px;
    height: 630px;
}
.div12{
    color: white;
}
button{
    font-size:25px;
    font-weight: bold;
    margin-left: 150px;
    height: 50px;
    width: 450px;
}
.div13{
    padding-top: 30px;
}