table{
    margin:auto;
    background-color: #96D4D3;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 8px;
}
th{
    width: 250px;
    border: 1px solid black;
    border-radius: 8px;
}

td{
    background-color: #96D4D3;
    border: 1px solid black;
    border-radius: 8px;
}
.row1{
    display: flex;
}
.box1{
    height:70px;
    width:120px;
    border: 3px solid lawngreen;
    margin-left:500px;
    margin-top:52px;
    border-radius: 5px;
}
.box2{
    height:70px;
    width:120px;
    margin-top:52px;
    border: 3px solid lawngreen;
    margin-left:50px;
    border-radius: 8px;
}
.box3{
    height:70px;
    width:120px;
    margin-top:52px;
    border: 3px solid lawngreen;
    margin-left:50px;
    border-radius: 20px;
}

.row2{
    margin-left: 450px;
    display: flex;
}
.box5{
    height:70px;
    width:120px;
    margin-top:52px;
    border: 3px solid lawngreen;
    margin-left:50px;
    border-radius: 3px;
}
.row3{
    margin-left: 450px;
    display: flex;
}

.box6{
    height:70px;
    width:120px;
    margin-top:52px;
    border: 3px solid lawngreen;
    margin-left:50px;
    border-radius: 3px 20px 5px 20px;
}
.box7{
    height:70px;
    width:120px;
    margin-top:52px;
    border: 3px solid lawngreen;
    margin-left:50px;
    border-radius: 50%;
}